## Deliverable 3. Create a Travel Itinerary Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\mhern\Desktop\Analysis_Projects_2021\Module_6\World_Weather_Analysis\vacation_search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Cayenne,GF,80.10,few clouds,4.9333,-52.3333,Hôtel Le Dronmi
1,11,Grand Gaube,MU,79.38,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
2,12,Vaini,TO,82.56,light intensity drizzle,-21.2000,-175.2000,Keleti Beach Resort
3,13,Mahebourg,MU,79.25,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,16,Alugan,PH,84.51,scattered clouds,12.2188,125.4808,JM Lodge

In [17]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [18]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

start = "Coolum Beach"
end = "Coolum Beach"
stop1 = "Busselton"
stop2 = "Esperance"
stop3 = "Yulara"

vacation_start = vacation_df.loc[(vacation_df["City"] == start)]
vacation_end = vacation_df.loc[vacation_df["City"] == end]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == stop1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == stop2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == stop3]

In [101]:
print(vacation_start)

    City_ID          City Country  Max Temp Current Description      Lat  \
51      180  Coolum Beach      AU     84.34     overcast clouds -26.5333

      Lng            Hotel Name
51  153.1  Palmer Coolum Resort

In [102]:
print(vacation_stop1)

    City_ID       City Country  Max Temp Current Description    Lat       Lng  \
22       67  Busselton      AU     86.09       moderate rain -33.65  115.3333

                 Hotel Name
22  Observatory Guest House

In [103]:
print(vacation_stop2)

    City_ID       City Country  Max Temp Current Description      Lat    Lng  \
17       53  Esperance      AU     78.33           clear sky -33.8667  121.9

               Hotel Name
17  Hospitality Esperance

In [104]:
print(vacation_stop3)

    City_ID    City Country  Max Temp Current Description      Lat       Lng  \
67      225  Yulara      AU     82.24          few clouds -25.2406  130.9889

                                  Hotel Name
67  Desert Gardens Hotel - Ayers Rock Resort

In [112]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [113]:
print(start)

[-26.5333 153.1   ]

In [114]:
print(stop1)

[-33.65   115.3333]

In [115]:
print(stop2)

[-33.8667 121.9   ]

In [116]:
print(stop3)

[-25.2406 130.9889]

In [117]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip_route = gmaps.directions_layer(
    start, end, waypoints=[stop1,stop2,stop3],
    travel_mode='DRIVING') 
fig.add_layer(trip_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [118]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,180,Coolum Beach,AU,84.34,overcast clouds,-26.5333,153.1000,Palmer Coolum Resort
1,67,Busselton,AU,86.09,moderate rain,-33.6500,115.3333,Observatory Guest House
2,53,Esperance,AU,78.33,clear sky,-33.8667,121.9000,Hospitality Esperance
3,225,Yulara,AU,82.24,few clouds,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort

In [119]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [120]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))